#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}


.card {
  padding: 2em;
}

.prek-button {
  background-color: #1e90ff;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.ktwelve-button {
  background-color: #1e90ff;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.disclaimer {
  color: #888;
}
