#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}


.card {
  padding: 2em;
}

.prek-vaccines {
  display: flex;
  gap: 30px;
  /* padding-left: 20px;   */
  /* justify-content: center; */
  align-items: right;
}

.ktotwelve-vaccines {
  display: flex;
  /* gap: 20px; */
  /* padding: 20px;   */
  /* justify-content: center; */
  align-items: right;
}

.prek-button {
  background-color: #1e90ff;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.ktwelve-button {
  background-color: #1e90ff;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.back-to-top{
  background-color: #dc143c;
  margin-top: 20px;
  margin-bottom: 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: left;
}

.disclaimer {
  color: #888;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: left;
}
